$bg: #fff;

$color-primary: #c0c0c0;
$color-border-light: #fdfdfd;

$color-box-1: #6700ff;
$color-box-2: #00c100;
$color-box-3: #ff0000;
$color-box-4: #33008b;
$color-box-5: #8d0000;
$color-box-6: #00aead;
$color-box-7: #888888;
$color-box-8: #000000;
$color-box-9: #ff8d00;
